<section class="blog-list mtb-40">
    <div class="container">
      <h1>Courses</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let coursePost of coursePostListing">
            <div class="blog-box">
              <img [src]="coursePost.image" alt="blog1" />
              <h3>{{ coursePost.title }}</h3>
              <p>by <span>{{ coursePost.author }}</span></p>
              <p>{{ coursePost.short_desc }}</p>
              <a [routerLink]="'/course/' + coursePost.id" class="btn btn-danger">Read more...</a>
            </div>
          </div>
      </div>
    </div>
  </section>
