<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>{{ coursePost.title }}</h1>
            <div class="posted-on">
                <p>by <span>{{ coursePost.author }}</span> on <span>{{ coursePost.entered_date | date : 'mediumDate' }}</span></p>
            </div>
            <div class="detail-img">
               <img [src]="coursePost.image" alt="blog1" class="img-fluid" />
            </div>
            <div class="blog-desc">
              <p>{{ coursePost.full_desc }}</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <app-course-recent></app-course-recent>
          <app-course-categories></app-course-categories>
        </div>
      </div>
    </div>
  </section>
